:root {
  --font-family: "Russo One", sans-serif;
  --font-family-h1: "Press Start 2P", cursive;
  --background-color: #261042;
  --background-card: #3e225d;
  --background-box: #543676;
  --shadowcolor: #110423;
  --footerBackground: #19062f;
  --primary-border-color: #19092e;
  --primary-font-color: #ffffff;
  --secondary-font-color: #af8bc8;
  --neoncolor1: #fa00ff;
  --neonseccolor1: #4b004d;
  --neoncolor2: #00fff0;
  --neonseccolor2: #006b65;
  --neoncolor3: #fff500;
  --neonseccolor3: #7c3c00;
  --backgroundGradient: radial-gradient(circle,
      rgba(61, 27, 102, 1) 0%,
      rgba(28, 10, 51, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background: var(--backgroundGradient);
}

.main-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 85fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/synthwavehome.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.pcstore-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 65fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/pcstore-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.ps5store-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 65fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/background-game-detail-ps5.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.ps5-review-header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 65fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/ps5-thumbnail-review.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.pc-overview-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 65fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/cybershop-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.ps5details-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 65fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/ark-thumbnail-picture.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.ps5details-h1 {
  font-family: var(--font-family);
  grid-area: titlehead;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ps5details-h1 h1 {
  font-size: 10rem;
  text-shadow: 0.3rem 0.3rem 0.5rem var(--neoncolor1);
  -webkit-text-stroke: 0.1px #410377;
}

.ps5details-h1 p {
  font-size: 3rem;
  -webkit-text-stroke: 1px #410377;
}

.pc-review-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 65fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/cyberreview-background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.pcreviewhead-button {
  background-color: var(--neoncolor1);
  color: var(--neonseccolor1);
  margin: 1rem;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-family: var(--font-family);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  border: none;
}

.pcreviewhead-button:hover {
  outline: 0.5rem solid var(--neoncolor1);
  background-color: var(--neonseccolor1);
  color: var(--neoncolor1);
  outline-offset: -0.5rem;
  transform: scale(1.05);
}

.header-nav {
  background-color: #3d1b68;
  height: 7vh;
  border-radius: 10rem;
  color: white;
  box-shadow: 0 0.3rem #280c4b;
}

.header-nav img {
  margin: 0 1rem;
  transition: all ease-in-out 0.2s;
}

.header-nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  list-style-type: none;
  font-size: 2.5rem;
  font-family: var(--font-family);
  margin: auto;
}

.header-nav li {
  margin: 0 3rem;
  transition: all ease-in-out 0.2s;
}

.header-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 3px 3px 2px #000000;
}

.header-nav li:hover,
.header-nav img:hover {
  transform: scale(1.15);
}

.nav-box {
  padding: 2rem;
  grid-area: navbar;
}

nav {
  display: flex;
  height: 100%;
}

.header__h1 {
  grid-area: titlehead;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header__h1 h1 {
  font-size: 10rem;
  font-family: var(--font-family-h1);
  text-shadow: 0.3rem 0.3rem 0.5rem #00fffb;
  -webkit-text-stroke: 0.1px #410377;
}

.header__h1 h1::first-line {
  text-shadow: 0.3rem 0.3rem 0.5rem #fa00ff;
}

.header__h1 p {
  font-size: 3rem;
  font-family: var(--font-family);
  margin-top: 1rem;
  text-shadow: 2px 2px 2px var(--shadowcolor);
}

.players {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 50vh;
  background: var(--backgroundGradient);
}

.players h2 {
  text-align: center;
  font-size: 4rem;
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--primary-font-color);
  text-shadow: 3px 3px 2px #000000;
  text-decoration: underline #fa00ff;
  text-underline-offset: 1.5vh;
  text-shadow: 5px 5px 2px var(--shadowcolor);
  margin: 3rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 1rem 0;
  flex-wrap: wrap;
}

.card {
  text-shadow: 2px 2px 2px var(--shadowcolor);
  box-shadow: 1rem 1rem 1rem var(--shadowcolor);
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "icon name"
    "games games";
  transition: all 0.2s ease-in-out;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}

.card:hover {
  transform: scale(1.05);
}

.card__icon {
  grid-area: icon;
  background-color: #3e225d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1.5rem;
}

.card__icon img {
  height: 80%;
  border: 3px solid var(--primary-border-color);
  border-radius: 2rem;
  height: 80%;
  border: 3px solid var(--primary-border-color);
  border-radius: 2rem;
  box-shadow: 1px 1px 2px var(--shadowcolor);
  transition: all 0.2s ease-in-out;
}

.card__icon img:hover {
  transform: scale(1.1);
}

.card__name {
  grid-area: name;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3e225d;
  background-color: #3e225d;
  border-top-right-radius: 1.5rem;
}

.card__games {
  grid-area: games;
  display: flex;
  justify-content: space-evenly;
  background-color: #543676;
  height: 20vh;
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.card__games img {
  margin: 2rem;
  height: auto;
  border: 0.3rem solid var(--primary-border-color);
  border-radius: 2rem;
  box-shadow: 2px 2px 2px var(--shadowcolor);
}

.card__firstname {
  color: var(--primary-font-color);
  font-family: var(--font-family);
  font-size: 2.5rem;
}

.card__username {
  color: var(--secondary-font-color);
  font-family: var(--font-family);
  font-size: 1.5rem;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 60vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/cybercars.gif);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: 0px 0px 5px 0.5rem var(--shadowcolor);
  flex-direction: column;
}

.shop__cards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 25vh;
}

.shop img {
  height: 12rem;
  filter: white;
}

.shop__h2 {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 6vh;
  text-decoration: underline #fa00ff;
  text-underline-offset: 1.5vh;
  text-shadow: 5px 5px 2px var(--shadowcolor);
  margin-bottom: 2vh;
}

.shop__p {
  font-family: var(--font-family);
  font-size: 2vh;
  margin-bottom: 4vh;
}

.shop__cards__platform1,
.shop__cards__platform2,
.shop__cards__platform3 {
  background-color: #543676;
  padding: 4vh;
  margin: 0 3rem;
  border-radius: 5vh;
  box-shadow: 1vh 1vh 1vh 0.2rem var(--shadowcolor);
  transition: all 0.2s ease-in-out;
}

.shop__cards__platform1:hover,
.shop__cards__platform2:hover,
.shop__cards__platform3:hover {
  transform: scale(1.2);
}

.shop__cards__platform1:hover {
  box-shadow: 0 0 3vh var(--neoncolor3);
}

.shop__cards__platform2:hover {
  box-shadow: 0 0 3vh var(--neoncolor1);
}

.shop__cards__platform3:hover {
  box-shadow: 0 0 3vh var(--neoncolor2);
}

.footer {
  background-color: var(--footerBackground);
  color: white;
  bottom: 0;
  font-family: var(--font-family);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  box-shadow: 0px -0.5rem 0.5rem var(--shadowcolor);
}

.footer h3 {
  display: inline;
  font-weight: 100;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 5px solid #fa00ff;
  padding-left: 15px;
  padding-right: 15px;
}

.footertext {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropbtn:hover .dropdown-content {
  display: block;
  flex-direction: column;
  display: flex;
  background-color: #260051;
  justify-content: space-between;
  width: 90px;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.dropbtn:hover .dropdown-content-store {
  display: block;
  flex-direction: column;
  display: flex;
  background-color: #260051;
  justify-content: space-between;
  width: 75px;
  text-align: center;
  /* margin-top: 0.2rem; */
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.dropdown-content-store {
  display: none;
  position: absolute;
}

.dropdown-content-store a {
  margin: 0.5rem;
}

.dropdown-content a {
  margin: 0.5rem;
}

.pcgames {
  display: flex;
  flex-direction: column;
  width: 70vw;
  background-color: var(--background-card);
  margin: 6rem auto;
  padding: 20px;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 2px var(--shadowcolor);
}

.pcgames__title {
  font-size: 4rem;
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--primary-font-color);
  text-shadow: 3px 3px 2px #000000;
  text-decoration: underline #fa00ff;
  text-underline-offset: 1.5vh;
  text-shadow: 2px 2px 2px var(--shadowcolor);
  margin-bottom: 2rem;
  text-align: center;
}

.pcgames__text {
  color: var(--primary-font-color);
  font-family: var(--font-family);
  text-align: center;
  font-size: 2rem;
  margin: 10px 10px 20px 10px;
  text-shadow: 2px 2px 2px var(--shadowcolor);
}

.pcgames__game {
  background-color: var(--background-box);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
  box-shadow: 2px 2px 2px var(--shadowcolor);
}

.pcgames__game img {
  margin: 1rem 2rem 1rem 1rem;
  border-radius: 2rem;
  height: 16vh;
  border: 0.3rem solid var(--primary-border-color);
  box-shadow: 2px 2px 2px var(--shadowcolor);
}

.pcgames__game__title {
  height: 100%;
  display: flex;
  align-items: center;
}

.pcgames__game__title__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.pcgames__game__title__text h3 {
  font-size: 4rem;
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--primary-font-color);
  text-shadow: 2px 2px 2px #110423;
}

.pcgames__game__title__text p {
  font-size: 2rem;
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--secondary-font-color);
}

.pcgames__game__box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pcgames__game__box__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 8vw;
  background-color: var(--neoncolor3);
  color: var(--neonseccolor3);
  font-family: var(--font-family);
  border: none;
  border-radius: 1rem;
  font-size: 2.5rem;
  margin: 2rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 2px var(--shadowcolor);
  text-decoration: none;
  cursor: pointer;
}

.pcgames__game__box__buy:hover {
  background-color: var(--neonseccolor3);
  color: var(--neoncolor3);
  transform: scale(1.1);
  border: 0.5rem solid var(--neoncolor3);
}

.pcgames__game__box__price {
  height: 8vh;
  width: 8vw;
  background-color: var(--neoncolor1);
  color: var(--neonseccolor1);
  font-family: var(--font-family);
  border: none;
  border-radius: 1rem;
  font-size: 2.5rem;
  margin: 2rem 2rem 2rem 0;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 2px var(--shadowcolor);
}

.pcdetails-head {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 40fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/cyberpunkbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pcdetails-head__container {
  grid-area: titlehead;
  height: 40vh;
  width: 100%;
  display: flex;
  box-shadow: 0 2rem 2rem var(--background-color);
  border-bottom: 0.5rem solid var(--primary-border-color);
}

.pcdetails-head__container__image {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 3rem;
}

.pcdetails-head__container__image img {
  height: 85%;
  border-radius: 3rem;
  border: 3px solid var(--primary-border-color);
}

.pcdetails-head__container__content {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.pcdetails-head__container__content h1 {
  font-size: 10rem;
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-weight: 100;
  text-shadow: 0.3rem 0.3rem 0.5rem var(--neoncolor1);
  -webkit-text-stroke: 2px #410377;
}

.pcdetails-head__container__content p {
  font-size: 3rem;
  font-family: var(--font-family);
  color: var(--neoncolor3);
  -webkit-text-stroke: 1px var(--neonseccolor3);
}

.gametable {
  display: grid;
  grid-template-areas:
    "video block"
    "imageselect block"
    "button block"
    "table block"
    "dlc block";
  width: 70vw;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto auto auto auto;
  background-color: var(--background-card);
  margin: 6rem auto;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem var(--shadowcolor);
}

.gametable__video {
  grid-area: video;
  width: auto;
  margin: 2rem 0 0 2rem;
}

.gametable__video__vid {
  width: 100%;
  height: 45vh;
  outline: 0.5rem solid var(--primary-border-color);
  outline-offset: -0.5rem;
  border-radius: 1rem;
}

.gametable__imageselect {
  grid-area: imageselect;
  display: flex;
  justify-content: space-between;
  margin: -2rem 0 0 2rem;
}

.gametable__imageselect img {
  width: 32%;
  object-fit: cover;
  outline: 0.3rem solid var(--primary-border-color);
  outline-offset: -0.3rem;
  border-radius: 1rem;
}

.gametable__button {
  grid-area: button;
  display: flex;
  max-width: 100%;
  margin: 0 0 0 2rem;
}

.gametable__button__buy {
  background-color: var(--neoncolor1);
  font-size: 2.5rem;
  font-family: var(--font-family);
  padding: 1.5rem;
  margin: 0 0.5rem 0 0;
  color: var(--neonseccolor1);
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  height: min-content;
}

.gametable__button__buy:hover {
  background-color: var(--neonseccolor1);
  color: var(--neoncolor1);
  outline: 0.5rem solid var(--neoncolor1);
  outline-offset: -0.5rem;
  transform: scale(1.05);
}

.payform {
  font-family: var(--font-family);
  padding: 6rem 0 8rem 0;
}

.payform__title {
  padding-top: 6rem;
  margin: 0 0 2rem 0;
  font-size: 5rem;
  text-align: center;
}

.payform__box {
  border: 2rem solid var(--footerBackground);
  display: flex;
  width: 80vw;
  background-color: var(--footerBackground);
  border-radius: 2rem;
  margin: auto auto;
  box-shadow: 0 0 1rem 0.5rem var(--shadowcolor);
}

.payform__box__image {
  background: url("../img/cyberpunkbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payform__box__image img {
  width: 35%;
  border-radius: 2rem;
  outline: 1rem solid var(--primary-border-color);
  outline-offset: -0.5rem;
}

.payform__box__data {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: -8px 0 10px -6px var(--shadowcolor);
}

.payform__box__data h3 {
  font-size: 3rem;
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-weight: 100;
  text-align: center;
  text-decoration: underline #fa00ff;
  text-underline-offset: 1vh;
}

.payform__box__data__form {
  display: flex;
  flex-direction: column;
}

.payform__box__data__form__input {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem 5rem;
  background-color: var(--background-card);
  border-style: none;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  border-radius: 0.5rem;
}

.payform__box__data__form__gender {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem 5rem;
  background-color: var(--background-card);
  border-style: none;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.payform__box__data__form__gender label {
  margin: 0 2rem 0 0.5rem;
}

.payform__box__data__form__check {
  margin: 1rem 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: var(--background-card);
  display: flex;
  color: var(--primary-font-color);
  font-weight: 100;
  border-radius: 0.5rem;
}

.payform__box__data__form__check p {
  margin-left: 1rem;
  font-family: var(--font-family);
}

.payform__box__data__form__text {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem 5rem;
  background-color: var(--background-card);
  border-style: none;
  color: var(--primary-font-color);
}

.payform__box__data__form__submit {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem auto;
  background-color: var(--background-box);
  border-style: none;
  color: var(--primary-font-color);
  transition: all ease-in-out 0.2s;
  width: 30%;
  cursor: pointer;
  font-family: var(--font-family);
  border-radius: 0.5rem;
}

.payform__box__data__form__submit:hover {
  background-color: var(--neoncolor1);
  color: white;
  transform: scale(1.1);
}

::placeholder {
  color: var(--primary-font-color);
}

.gametable__button__wishlist {
  background-color: var(--neoncolor2);
  font-size: 2.5rem;
  font-family: var(--font-family);
  padding: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
  color: var(--neonseccolor2);
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: min-content;
}

.gametable__button__wishlist:hover {
  background-color: var(--neonseccolor2);
  color: var(--neoncolor2);
  outline: 0.5rem solid var(--neoncolor2);
  outline-offset: -0.5rem;
  transform: scale(1.05);
}

.gametable__button__price {
  background-color: var(--neoncolor3);
  font-size: 2.5rem;
  font-family: var(--font-family);
  padding: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
  color: var(--neonseccolor3);
  border-radius: 1.5rem;
  border: none;
  height: min-content;
}

.gametable__table {
  grid-area: table;
  margin: 0 0 0 2rem;
}

.gametable__table table {
  border-collapse: collapse;
  border: 3px solid #1d0042;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  width: 100%;
}

.gametable__table tr:nth-child(even) {
  background-color: rgb(64, 41, 92);
}

.gametable__table tr:nth-child(odd) {
  background-color: var(--background-box);
}

.gametable__table td {
  border: 3px solid #1d0042;
  font-size: 2rem;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  padding: 4px;
}

.gametable__dlc {
  grid-area: dlc;
  margin: 0 0 2rem 2rem;
}

.gametable__dlc__title {
  font-size: 3rem;
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-weight: 100;
  margin: 0 0 1rem 0;
}

.gametable__dlc__items {
  display: flex;
}

.gametable__dlc__items__item {
  background-color: var(--footerBackground);
  width: 40%;
  box-shadow: 0 2rem 2rem 0 var(--background-color);
  transition: all 0.2s ease-in-out;
}

.gametable__dlc__items__item a {
  text-decoration: none;
}

.gametable__dlc__items__item:hover {
  transform: scale(1.05);
}

.gametable__dlc__items__item:first-child {
  margin-right: 2rem;
}

.gametable__dlc__items__item__image img {
  width: 100%;
}

.gametable__dlc__items__item__content {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.gametable__dlc__items__item__content__button {
  height: 2em;
  width: 2em;
  background-color: var(--neoncolor1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--primary-font-color);
}

.gametable__dlc__items__item__content h3 {
  font-size: 2rem;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  font-weight: 100;
  text-align: center;
}

.gametable__block {
  grid-area: block;
  color: var(--primary-font-color);
  font-size: 2rem;
  font-family: var(--font-family);
  background-color: var(--background-box);
  border-radius: 1rem;
  box-shadow: 0 2rem 2rem var(--background-color);
}

.gametable__block h2 {
  text-decoration: underline #fa00ff;
  text-underline-offset: 1vh;
  font-weight: 100;
  font-size: 3rem;
}

.gametable__block img {
  width: 100%;
}

.gametable__block__content__box {
  margin: 3rem;
}

.gametable__block__content p {
  font-size: 1.5rem;
}

.gametable__block__content__category {
  margin-top: 2rem;
}

.gametable__block__content__category h3 {
  font-weight: 100;
  font-size: 2rem;
  text-decoration: underline;
}

.gametable__block__content__category a {
  color: var(--neoncolor3);
}

.main-headPS5 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15fr 85fr;
  grid-template-areas:
    "navbar"
    "titlehead";
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/background-game-detail-ps5.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.photo-cards {
  width: 100%;
}

.ps5-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3vw;
  padding: 4vw;
}

.image-ps5-store {
  color: white;
  background-color: var(--background-color);
  border: 0.5rem solid var(--primary-border-color);
  border-radius: 1rem;
  padding: 1rem;
}

.image-ps5-store img {
  border-radius: 1rem;
  width: 100%;
}

.image-ps5-store h3 {
  font-size: 2rem;
  font-family: var(--font-family);
  color: var(--primary-font-color);
  padding-top: 0.5rem;
}

.image-ps5-store p {
  font-size: 1.5rem;
  font-family: var(--font-family);
  color: var(--primary-font-color);
}

.button-ps5-buy {
  background-color: var(--neoncolor1);
  border-radius: 5px;
  padding: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: var(--font-family);
  margin-right: 4px;
}

.button-ps5-add {
  background-color: var(--neoncolor3);
  border-radius: 5px;
  padding: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: var(--font-family);
}

.pc-overview {
  width: 80vw;
  margin: 6rem auto;
  background-color: var(--background-card);
  box-shadow: 2px 2px 2px 2px var(--shadowcolor);
  padding: 20px;
  border-radius: 2rem;
}

.pc-overview__title {
  font-size: 4rem;
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--primary-font-color);
  text-shadow: 3px 3px 2px #000000;
  text-decoration: underline #fa00ff;
  text-underline-offset: 1.5vh;
  text-shadow: 2px 2px 2px var(--shadowcolor);
  margin-bottom: 2rem;
  text-align: center;
}

.pc-overview__games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pc-overview__games__game {
  min-height: 20vh;
  background-color: var(--background-box);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: space-between;
  margin: 1.5rem 1.5rem;
  box-shadow: 2px 2px 2px var(--shadowcolor);
}

.pc-overview__games__game img {
  margin: 1rem 2rem 1rem 1rem;
  border-radius: 2rem;
  height: 18vh;
  border: 0.3rem solid var(--primary-border-color);
  box-shadow: 2px 2px 2px var(--shadowcolor);
}

.pc-overview__games__game__title {
  height: 100%;
  display: flex;
  align-items: center;
}

.pc-overview__games__game__title__text__tags {
  margin: 1.5rem 0 1rem 0;
}

.pc-overview__games__game__title__text__tags__item {
  background-color: var(--neoncolor2);
  font-size: 2rem;
  padding: 8px;
  font-family: var(--font-family);
  color: var(--neonseccolor2);
  border-radius: 400px;
  margin: 0 0.5rem 0 0;
}

.pcreview {
  margin: 6rem 0 6rem 0;
}

.pcreview__box {
  width: 80vw;
  margin: 4rem auto;
}

.pcreview__box__item {
  display: flex;
  box-shadow: 6px 4px 4px var(--shadowcolor);
  background-color: var(--background-box);
  border-radius: 2rem;
}

.pcreview__box__item__image {
  background-color: #361c57;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.pcreview__box__item__image img {
  width: 10vw;
  height: 10vw;
  margin: 1vw 3vw 1vw 3vw;
  border: 0.3rem solid var(--primary-border-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--shadowcolor);
  border-radius: 2rem;
}

.pcreview__box__item__container {
  border-top-right-radius: 2rem;
}

.pcreview__box__item__container__header {
  display: flex;
  padding: 1rem;
  background-color: var(--background-card);
  border-top-right-radius: 2rem;
}

.pcreview__box__item__container__header img {
  border-radius: 1rem;
  height: 6em;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem var(--shadowcolor);
}

.pcreview__box__item__container__header__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pcreview__box__item__container__header__rating h2 {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: 100;
  color: var(--primary-font-color);
  margin: 0 1rem 0 1.5rem;
}

.pcreview__box__item__container__header__rating label {
  color: var(--neonseccolor3);
  font-family: var(--font-family);
  font-size: 2rem;
  background-color: var(--neoncolor3);
  border-radius: 1rem;
  padding: 8px;
  float: right;
}

.pcreview__box__item__container__content {
  background-color: var(--background-box);
  color: var(--primary-font-color);
  font-family: var(--font-family);
  font-size: 1.5rem;
  display: flex;
  padding: 1rem;
  border-bottom-right-radius: 2rem;
}

.payform__box__image_ps5 {
  background: url("../img/ark-theri-photo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payform__box__image_ps5 img {
  width: 10vw;
  height: 10vw;
  margin: 1vw 3vw 1vw 3vw;
  border: 0.3rem solid var(--primary-border-color);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem var(--shadowcolor);
  border-radius: 2rem;
}

.pc-reviewform__box {
  margin: 4rem auto 6rem auto;
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1rem 0.5rem var(--shadowcolor);
  background-color: var(--footerBackground);
  border-radius: 2rem;
}

.pc-reviewform__box h3 {
  font-size: 3rem;
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-weight: 100;
  text-align: center;
  text-decoration: underline #fa00ff;
  text-underline-offset: 1vh;
  margin: 2rem 0 1rem 0;
}

.pc-reviewform__box__header {
  background: linear-gradient(rgba(0, 0, 0, 1), transparent),
    url(../img/pcstore-background.gif);
  background-size: cover;
  background-position: center;
  font-size: 3rem;
  font-family: var(--font-family-h1);
  color: var(--primary-font-color);
  font-weight: 100;
  text-align: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.pc-reviewform__box__header h2 {
  font-weight: 100;
  margin: 5rem 0 4rem 0;
  font-family: var(--font-family-h1);
  text-shadow: 0.3rem 0.3rem 0.5rem var(--neoncolor1);
  -webkit-text-stroke: 2px #410377;
  font-size: 8rem;
}

.pc-reviewform__box__header h2 span {
  text-shadow: 0.3rem 0.3rem 0.5rem var(--neoncolor2);
}

.pc-reviewform__box__form {
  display: flex;
  flex-direction: column;
}

.pc-reviewform__box__form__input {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem 5rem;
  background-color: var(--background-card);
  border-style: none;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  border-radius: 0.5rem;
}

.pc-reviewform__box__form__file {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem 5rem;
  background-color: var(--background-card);
  border-style: none;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.pc-reviewform__box__form__file input {
  font-family: var(--font-family);
}

.pc-reviewform__box__form__file input[type="file"]::file-selector-button {
  color: var(--neonseccolor1);
  background-color: var(--neoncolor1);
  font-family: var(--font-family);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.pc-reviewform__box__form__file input[type="file"]::file-selector-button:hover {
  background-color: var(--neonseccolor1);
  color: var(--neoncolor1);
}

.pc-reviewform__box__form__textarea {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem 5rem;
  background-color: var(--background-card);
  border-style: none;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  height: 150px;
  resize: none;
  border-radius: 0.5rem;
}

.pc-reviewform__box__form__submit {
  padding: 1.5rem;
  font-size: 1.5rem;
  width: auto;
  margin: 1rem auto 2rem auto;
  background-color: var(--neoncolor1);
  color: var(--neonseccolor1);
  border-style: none;
  transition: all ease-in-out 0.2s;
  width: 30%;
  cursor: pointer;
  font-family: var(--font-family);
  border-radius: 1rem;
}

.pc-reviewform__box__form__submit:hover {
  background-color: var(--neonseccolor1);
  color: var(--neoncolor1);
  outline: 0.5rem solid var(--neoncolor1);
  outline-offset: -0.5rem;
  transform: scale(1.1);
}

.pc-reviewform__box__form__check {
  margin: 1rem 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: var(--background-card);
  display: flex;
  color: var(--primary-font-color);
  font-weight: 100;
  font-family: var(--font-family);
  border-radius: 0.5rem;
}

.pc-reviewform__box__form__check p {
  margin-left: 1rem;
}

.form__box {
  font-family: var(--font-family);
  background-color: var(--background-card);
  width: 70vw;
  margin-top: 3rem;
  margin: 3rem auto 0 auto;
  border-radius: 20px;
  box-sizing: border-box;
  color: var(--primary-font-color);
}

.input-ps5[type="text"],
.selection-ps5,
.ps5-textarea {
  font-family: var(--font-family);
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
  background-color: var(--background-box);
  color: var(--primary-font-color);
}

.label-ps5 {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.input-ps5[type="submit"] {
  font-family: var(--font-family);
  background-color: var(--neoncolor1);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.title_form {
  padding-left: 20px;
  padding-top: 20px;
}

.input-ps5[type="submit"]:hover {
  background-color: var(--neonseccolor1);
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.ps5-buttons {
  width: 100%;
  background-color: var(--background-box);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.ps5-buy {
  background-color: var(--neoncolor1);
  font-family: var(--font-family);
  padding: 1rem;
  border: 0.3rem solid var(--neonseccolor1);
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--neonseccolor1);
  cursor: pointer;
  margin: 1rem;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
}

.ps5-buy:hover {
  background-color: var(--neonseccolor1);
  color: var(--neoncolor1);
  border: 0.3rem solid var(--neoncolor1);
}

.ps5-add {
  background-color: var(--neoncolor3);
  font-family: var(--font-family);
  padding: 1rem;
  border: 0.3rem solid var(--neonseccolor3);
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--neonseccolor3);
  cursor: pointer;
  margin: 1rem;
  transition: all ease-in-out 0.2s;
}

.ps5-add:hover {
  background-color: var(--neonseccolor3);
  color: var(--neoncolor3);
  border: 0.3rem solid var(--neoncolor3);
}

.ps5-price {
  background-color: var(--neoncolor2);
  font-family: var(--font-family);
  padding: 1rem;
  border: 0.3rem solid var(--neonseccolor2);
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--neonseccolor2);
  margin: 1rem;
}

.ps5-media {
  width: 60vw;
  background-color: var(--background-box);
  margin: 3rem auto;
}

.ps5-media-vid iframe {
  height: 65vh;
}

.ps5-media-img {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  margin: 1rem;
}

.ps5-media-img img {
  width: 100%;
  margin: 0 0 1rem 0;
}

.ps5-dlc {
  background-color: var(--background-box);
  width: 60vw;
  margin: 3rem auto;
}

.ps5-dlc h2 {
  color: var(--primary-font-color);
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: 100;
  text-align: center;
  text-decoration: underline var(--neoncolor1);
  margin: 0.5rem;
}

.ps5-dlc-ark {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 1rem;
  margin: 0 1rem;
}

.ps5-dlc-ark img {
  width: 100%;
  margin: 0 0 1rem 0;
}

.ps5-text {
  background-color: var(--background-box);
  color: var(--primary-font-color);
  font-size: 2rem;
  width: 60vw;
  margin: 3rem auto;
  font-family: var(--font-family);
}

.ps5-text h2 {
  margin: 1rem 1rem 0 1rem;
  text-align: center;
  text-decoration: underline var(--neoncolor1);
  font-weight: 100;
}

.ps5-text p {
  margin: 1rem;
  padding-bottom: 1rem;
}

.ps5-table {
  width: 60vw;
  margin: 3rem auto;
  background-color: var(--background-box);
}

.gametable__table {
  grid-area: table;
  margin: 0 0 0 2rem;
}

.ps5-table-table table {
  border-collapse: collapse;
  border: 3px solid #1d0042;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  width: 100%;
}

.ps5-table-table tr:nth-child(even) {
  background-color: rgb(64, 41, 92);
}

.ps5-table-table tr:nth-child(odd) {
  background-color: var(--background-box);
}

.ps5-table-table td {
  border: 3px solid #1d0042;
  font-size: 2rem;
  color: var(--primary-font-color);
  font-family: var(--font-family);
  padding: 4px;
}

.ps5-review-comments {
  display: flex;
  flex-flow: wrap;

}

.ps5-review-item {
  width: 45vw;
  background-color: var(--background-box);
  border: 3px solid var(--primary-border-color);
  border-radius: 2rem;
  margin: 2rem auto;
}

.ps5-review-item-profile {
  display: flex;
}

.ps5-review-item-picture {
  width: 5vw;
  margin: 1rem;
}

.ps5-review-item-picture img {
  width: 100%;
  border-radius: 1rem;
  border: 0.3rem solid var(--primary-border-color);
}

.ps5-review-item-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ps5-review-item-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}

.ps5-review-item-user h2 {
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-weight: 100;
  font-size: 2.5rem;
}

.ps5-review-item-user p {
  font-family: var(--font-family);
  color: var(--secondary-font-color);
  font-size: 1.5rem;
}

.ps5-review-item-text {
  font-family: var(--font-family);
  color: var(--primary-font-color);
}

.ps5-review-item-text h3 {
  padding: 0 1rem;
  font-weight: 100;
  font-size: 2rem;
  text-decoration: underline var(--neoncolor1);
}

.ps5-review-item-text p {
  padding: 0 1rem 1rem 1rem;
  font-size: 1.5rem;
}

.ps5-review-item {}

.ps5-review-item-rating {
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.headns-store {
  color: white;
}

.switch_games_image {
  height: 20vh;
}

.nsgames-h1 {
  color: white;
  text-align: center;
  font-family: var(--font-family-h1)
}

.ns_games_img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
  row-gap: 10rem;
  margin-top: 10rem;
}

.switch_games_image {
  margin: 0 auto;
}

.switch-store-h1 {
  color: white;
  text-align: center;
  font-family: var(--font-family-h1)
}

.switch-store-text {
  color: white;
  text-align: center;
}

.nsstore_img {
  width: 100%;
}

.nsstore_game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin: 2rem;
}

.nsstore_game_title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}

.nsdetailh1 {
  font-family: var(--font-family-h1);
  text-align: center;
  padding-bottom: 5rem;
}

.nsdetailhead_img {
  height: 45vh;
  margin-top: 5rem;
}

.nsdetail_img {
  height: 10vh;
}

.nsdetailtext {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-family);
}

.nsdetailhead {
  display: flex;
}

.nsdetail_dlcimg {
  height: 25vh;
}

.ns-table-table {
  border-collapse: collapse;
}

.ns-table-table table {
  border-collapse: collapse;
  border: 3px solid var(--primary-border-color);
  width: 100%;
}

.ns-table-table td {
  border: 3px solid var(--primary-border-color);
  padding: 4px;
}

.nsreview_h1 {
  text-align: center;
  font-family: var(--font-family-h1);
  margin-bottom: 1rem;
}

.nsreview_item_picture {
  width: 5vw;
  margin: 1rem;
}

.nsreview_reviews {
  display: flex;
  flex-flow: wrap;
}

.nsreview_item {
  width: 45vw;
  background-color: var(--background-box);
  border: 3px solid var(--primary-border-color);
  border-radius: 2rem;
  margin: 2rem auto;
}

.nsreview_item_text {
  display: flex;
}

.nsreview_item_text img {
  border-radius: 2rem;
}

.nsreview_item_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nsreview_item_user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0;
}

.nsreview_item_user h2 {
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-weight: 100;
  font-size: 2.5rem;
}

.nsreview_item_user p {
  font-family: var(--font-family);
  color: var(--secondary-font-color);
  font-size: 1.5rem;
}

.nsreview_item_text_review {
  font-family: var(--font-family);
  color: var(--primary-font-color);
}

.nsreview_item_text_review h3 {
  padding: 0 1rem;
  font-weight: 100;
  font-size: 2rem;
  text-decoration: underline var(--neoncolor1);
}

.nsreview_item_text_review p {
  padding: 0 1rem 1rem 1rem;
  font-size: 1.5rem;
}

.nsreview_item_text_rating {
  font-family: var(--font-family);
  color: var(--primary-font-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.nsreview_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  height: 70vh;
}

.nsreview_form input {
  background-color: var(--background-card);
  padding: 2rem;
  color: var(--primary-font-color);
  border-radius: 1rem;
  font-family: var(--font-family);
}

.nsreview_form input::placeholder {
  color: var(--secondary-font-color);
}

.ns_submit {
  color: #ffffff;
  margin-top: 1rem;
  cursor: pointer;
}

.ns_payform {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-size: 2rem;
  width: 70vw;
  margin: 2rem auto;
}

.ns_payform_title {
  display: flex;
}

.ns_payform input {
  background-color: var(--background-card);
  padding: 2rem;
  color: var(--primary-font-color);
  border-radius: 1rem;
  font-family: var(--font-family);
}

.ns_payform input::placeholder {
  color: var(--secondary-font-color);
}

.ns_payform select {
  background-color: var(--background-card);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.nsdetail_dlctext {
  font-family: var(--font-family);
  font-size: 2rem;
}

.nsdetail_h2 {
  font-size: 2rem;
  padding-top: 2rem;
  font-family: var(--font-family);
}

.nsdetail_button {
  background-color: var(--background-box);
  padding: 1.5rem;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
}

.ns-table {
  margin-top: 5rem;
}

.nsdetail_dlc {
  display: flex;
}

.ns_payform_div {
  display: flex;
  width: 100%;
}

.ns_payform_input {
  width: 50%;
}

.ns_payform_inputfield {
  width: 100%;
}

.ns_payform_text {
  width: 50%;
  text-align: center;
  font-family: var(--font-family);
  text-align: left;
}

.ns_payform_text label {
  width: 100%;
}

.ns_payform form {
  width: 100%;
}

.ns-payform-title {
  text-align: center;
  width: 50%;
}

.ns_payform_submit {
  margin: 0 auto;
  cursor: pointer;
}

.ns_payform_input label {
  font-family: var(--font-family);
}

.nsreview_button {
  background-color: var(--background-box);
  padding: 1.5rem;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
}

.nsreviewform_text {
  width: 50%;
  text-align: center;
  font-family: var(--font-family);
  text-align: left;
}

.nsreview_inputfield {
  width: 100%;
}

.nsreview_input {
  display: flex;
  width: 100%;
}